<center>
  <h1>Show All Users</h1>
  {{#if error}} <span>{{error}}</span>{{/if}}
  <form class="form-inline" method="GET" action="/users/listusers">

    <input type="submit" class="btn btn-primary col-2" />
  </form>
</center>